<h2>Available drones</h2>

<div class="list-container" >
        {{#each allDrones}}
            <div class="card">
                <h3>{{this.name}}</h3>
                <li>Propellers: {{this.propellers}}</li>
                <li>Max-Speed: {{this.maxSpeed}}</li>
                <a href="/drones/{{this._id}}/edit">Editar</a>

                <form action="/drones/{{this._id}}/delete" method="post">
                    <button>Borrar</button>
                </form>
        </div>
        {{/each}}
        <form action="/drones/create">
            <button>Añadir</button>
        </form>
</div>